<div class="container">
    <div class="card">
        <h2>All About Ein Tag in Berlin...</h2>
        <div class="product">
            <h3>Product Value:</h3>
            <p>Ein Tag In Berlin Delivers the fastest and simplest solution for planning a night out on the town!</p>
            <p>All Options Presented are:</p>
            <ul>
                <li>Open Now</li>
                <li>Nearby</li>
                <li>..and very cool</li>
            </ul>
        </div>
    </div>
    <div class="card team">
            <h3>Team:</h3>
            <ul>
                <li>
                    <p>Creator Tim Lebon: a cool Web Developer from California making a big a splash in the Berlin Web Development scene</p>

                </li>
                <li>
                    <p>Creator Jason Simms: a cooler Web Developer from California making a big a splash in the Berlin Web Development scene</p>
                </li>
                <li>
                    <p>Oversight Code Genie Vivian Sarazin: Co-admin @growthhacking.fr & Teacher Assistant @ironhack </p>
                </li>
                <li></li>
            </ul>
    </div>
</div>