<div class="container">
    <div class="card">
        <h2>All About Ein Tag in Berlin...</h2>
        <div class="product">
            <h3>Product Value:</h3>
            <p>Ein Tag In Berlin Delivers the fastest and simplest solution for planning a night out on the town!</p>
            <p>All Options Presented are:</p>
            <ul>
                <li>Open Now</li>
                <li>Nearby</li>
                <li>..and very cool</li>
            </ul>
        </div>
    </div>
    <div class="card team">
        <h3>Team:</h3>
        <div class="row">
            <div class="cards" style="width: 20rem;">
                <img class="card-img-top ourcardimg" src="https://media.licdn.com/dms/image/C5603AQHcZVcP4-bAEA/profile-displayphoto-shrink_800_800/0?e=1541635200&v=beta&t=A0IC53-wE-Lv48gUstrL93QV9Yxo8WAGyEY4P5XZ87k"
                    alt="timimg">
                <div class="card-body">
                    <h4>Creator Timothy LeBon: A Berlin enthusiast, hopes to create products that are useful to people looking to spend their time well in Berlin.
                    </h4>
                    <a href="https://www.linkedin.com/in/timothy-lebon/"><button>See Me on Linkedin</button></a>
                </div>
            </div>
            <div class="cards" style="width: 20rem;">
                <img class="card-img-top ourcardimg" src="https://media.licdn.com/dms/image/C4D03AQH0M4Xa6tfn8A/profile-displayphoto-shrink_200_200/0?e=1541635200&v=beta&t=OLlc_doclXvQEmttX1KCfj5GXNl9gMY8hM3318HFhkk"
                    alt="jimg">
                <div class="card-body">
                    <h4>Creator Jason Simms: a cooler Web Developer from California making a big a splash in the Berlin Web
                        Development scene
                    </h4>
                    <a href="https://www.linkedin.com/in/jason-simms/"><button>See Me on Linkedin</button></a>
                </div>
            </div>
            <div class="cards" style="width: 20rem;">
                <img class="card-img-top ourcardimg" src="https://media.licdn.com/dms/image/C5603AQEV9jxH5DblWQ/profile-displayphoto-shrink_800_800/0?e=1541635200&v=beta&t=Emu-5jlsFl2vsq-MqaQIPZKPE-4pJkLGqYf4AbcugaU"
                    alt="Vimg">
                <div class="card-body">
                    <h4>Oversight Code Genie Vivian Sarazin: Co-admin @growthhacking.fr & Teacher Assistant @ironhack</h4>
                    <a href="https://www.linkedin.com/in/viviansarazin/"><button>See Me on Linkedin</button></a>
                </div>
            </div>
            <div class="cards" style="width: 20rem;">
                <img class="card-img-top ourcardimg" src="https://media.licdn.com/dms/image/C5103AQG67SUrS7p_BQ/profile-displayphoto-shrink_800_800/0?e=1541635200&v=beta&t=ApbnpNPZQIGt4Zw9VJvgMcwYpeW7fuSiuV3b9fg9glQ"
                    alt="Vimg">
                <div class="card-body">
                    <h4>Oversight Fixer of asynch functions Lukas Gisder-Dubé : Teacher @ironhack </h4>
                    <a href="https://www.linkedin.com/in/gisderdube/"><button>See Me on Linkedin</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card tech">
        <h3>Technology Used for this Project...</h3>
        <div class="row">

            <div class="cards">
                <h4>Yelp Fusion API </h4>
                <img src="/images/318x90_yelp_fusion.png" alt="yelp">
            </div>
            <div class="cards">
                <h4>Apify Custom Crawlers</h4>
                <img src="/images/czech-apify.png" alt="apify logo" height="80px">
            </div>
            <div class="cards">
                <h4>Mongoose MongoDB JS and of course NodeJs</h4>
                <img src="/images/mongoose-transactions.png" height="80px" alt="mongoose">
            </div>
            <div class="cards">
                <h4>Postman</h4>
                <img src="/images/postman.png" height="80px" alt="mongoose">
            </div>
        </div>
    </div>
    <div class="card crawling">
        <h3>A bit about crawling with Apify.com</h3>
        <h4>APIFY.COM user interface</h4>
        <img src="/images/apifycrawler.png" alt="apify">
        <h5>On this page we can setup a Start Url which will indicate our home page that we will crawl.</h5>
        <h5>Psueo URLS will be all acceptable pages that should be loaded and checked out.</h5>
        <h5>Clickable Elements will help us refine which links to follow on every page</h5>
        <h4>But the real magic happens with the Page Function....function.</h4>
        <img src="/images/apifycrawler2.png" alt="apify">
        <h5>In the Resident Advisor crawler the Javascript logic will basically create a record in our object every time
            it finds a link matching our Pseudo URLS.</h5>
        <h5>Every object will have the keys that we need for our MongoDB "Event" model and the values will be located with
            JQuery and even window aspects!</h5>
        <h4>Results of the crawl can be tested and watched in realtime</h4>
        <img src="/images/crawlerresults.png" alt="results">
    </div>
    <div class="card crawling">
        <h3>ASYNCH FUNCTIONS were used to combines API's with MongoDB</h3>
        <ul>
            <li>
                <h4>After we had the crawler data an Event DB is created with the raw input...</h4>
            </li>
            <li>
                <h4>
                    But our events are missing geo location and proper address information for events!</h4>
                <img src="/images/asynch2.png" alt="asynch">
                <ol>
                    <li>Retrieve all venues listed for every "EVENT"
                    </li>
                    <img src="/images/asynch3.png" alt="asynch">

                    <li>Call the Yahoo Fusion API for each venue only once
                    </li>
                    <img src="/images/asynch5.png" alt="asynch">

                    <li>Updatemany command used to give every event matching the venue a full address and geo location coordinates
                    </li>
                    <img src="/images/asynch6.png" alt="asynch">
                </ol>

            </li>

        </ul>

    </div>

</div>