<div class="container">
  <div class="card">
    <h2>Admin Controls are widely automated now!!!</h2>
    <ul>
      <li>
        <p>: Checks Last Crawler if crawler date is today there is no need to run again!</p>
        <a href="/statusCrawl" class="post"><button type='submit'>STATUS OF LAST CRAWLER</button></a>
      </li>
      <li>
        <p>: **No Longer Used** Crawler is scheduled on Apify.com</p>
        <a href="/startCrawl" class="post"><button type='submit'>START THE CRAWLER</button></a>
      </li>
      <li>
        <p>: Set Interval for adding events from Crawler **automated check heroku logs</p>
        <a href="/events/addRAresults" class="get"><button type='submit'>Create Events on Interval 2Days</button></a>
      </li>
      <li>
        <p>: Clear the autoRAEvents Interval if running</p>
        <a href="/events/stopautoevents" class="get"><button type='submit'>Clear autoEvents</button>L</button></a>
      </li>
      <li>
        <p>: Drops Event DB from Mongo</p>
        <a href="/delete/all" class="get"><button type='submit'>**PURGE EVENTS**</button></a>
      </li>
      <li>
        <p>:Views A query of acceptable events today</p>
        <a href="/jasonsview" method="get"><button>JASONS SECRET STUFF</button></a>
      </li>
      <li>
        <p>:Sets Inteval for checking Coordinates of events **automated check heroku logs</p>
        <a href="/getcoords" method="get"><button>ASSIGN COORDINATES FOR EVENTS 2Days</button></a>
      </li>
         <li>
        <p>:Clear the autoYelp Interval</p>
        <a href="/stopyelpevents" method="get"><button>Clear Inteval for YelpEvents</button></a>
      </li>
    </ul>




    {{!-- comment --}}













    <form action="/updateall" method="post">
      <button type='submit'>UPDATE ALL</button>
    </form>

  </div>