<div class="container">
  <div class="card">
    <h2>USE THE CUSTOM RA CRAWLER</h2>
    <ul>
      <li>
        <p>: Checks Last Crawler if crawler date is today there is no need to run again!</p>
        <a href="/statusCrawl" class="post"><button type='submit'>STATUS OF LAST CRAWLER</button></a>
      </li>
      <li>
        <p>: (Crawler is Scheduled on Apify.com now, just submit the last crawl) </p>
        <a href="/startCrawl" class="post"><button type='submit'>START THE CRAWLER</button></a>
      </li>
      <li>
        <p>: Creates Events in Mongo DB from Crawler</p>
        <a href="/events/addRAresults" class="get"><button type='submit'>SUBMIT CRAWL</button></a>
      </li>
      <li>
        <p>: Drops Event DB from Mongo</p>
        <a href="/delete/all" class="get"><button type='submit'>**PURGE EVENTS**</button></a>
      </li>
      <li>
        <p>:Views A query of acceptable events today</p>
        <a href="/jasonsview" method="get"><button>JASONS SECRET STUFF</button></a>
      </li>
      <li>
        <p>:Executes Yelp Get Coordinates assigning address info to Events!</p>
        <a href="/getcoords" method="get"><button>ASSIGN COORDINATES FOR EVENTS</button></a>
      </li>
    </ul>




    {{!-- comment --}}













    <form action="/updateall" method="post">
      <button type='submit'>UPDATE ALL</button>
    </form>

  </div>