<div class="container">
  <div class="card">
    <h2>USE THE CUSTOM RA CRAWLER</h2>
    <ul>
      <li>
        <a href="/startCrawl" class="post"><button type='submit'>START THE CRAWLER</button></a>

      </li>
      <li>
        <a href="/statusCrawl" class="post"><button type='submit'>STATUS OF LAST CRAWLER</button></a>

      </li>
      <li>
        <a href="/events/addRAresults" class="get"><button type='submit'>SUBMIT CRAWL</button></a>

      </li>
      <li>
        <a href="/delete/all" class="get"><button type='submit'>**PURGE EVENTS**</button></a>

      </li>
      <li>
        <a href="/jasonsview" method="get"><button>JASONS SECRET STUFF</button></a>

      </li>
      <li>
        <a href="/getcoords"method = "get"><button>ASSIGN COORDINATES FOR EVENTS</button></a>
      </li>
    </ul>


















    <form action="/updateall" method="post">
      <button type='submit'>UPDATE ALL</button>
    </form>

  </div>