<div class="container">
  <div class="card">
<h2>USE THE CUSTOM RA CRAWLER</h2>
<a href="/startCrawl" class="post"><button type='submit'>START THE CRAWLER</button></a>
<a href="/statusCrawl" class="post"><button type='submit'>STATUS OF LAST CRAWLER</button></a>
<a href="/events/addRAresults" class="get"><button type='submit'>SUBMIT CRAWL</button></a>
<a href="/delete/all" class="post"><button type='submit'>**PURGE EVENTS**</button></a>


</div>