<div class="container">
  <div class="card">
<h2>Add an Event!</h2>
<form action="/priv/events/add" method="POST">
  <label for="">Name</label>
  <input type="text" name="name">
<br>
  <label for="">Time</label>
  <input type="text" name="time">
<br>
  <label for="">Location</label>
  <input type="text" name="location">
<br>
  <label for="">Details</label>
  <input type="text" name="details">
<br>

  <button type="submit">ADD</button>
</form>
<a href="/private">Go back</a>
</div>
</div>