<div class="container">
  <div class="card">
<h2>Add an Event!</h2>
<form action="/events/add" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name">
<br>
 <label for="date">Date</label>
  {{!-- <input type="text" name="date" placeholder="day/month/year"> --}}
  <input placeholder="Date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="date">
<br>
  <label for="time">Time</label>
  <input type="text" name="time">
<br>
 <label for="venue">Venue</label>
  <input type="text" name="venue">
<br>
  <label for="address">Address</label>
  <input type="text" name="address">
<br>
<br>
  <label for="url">Url Link</label>
  <input type="text" name="url">
<br>
  <label for="details">Details</label>
  <textarea type="text" name="details"></textarea>
<br>
<br>
  <button type="submit">ADD</button>
</form>
<br>
<a href="/"><button>Go back</button></a>
</div>
</div>