<div class="container">
  <div class="card">
    <h1>{{title}}</h1>
    <img src="https://static1.squarespace.com/static/5769c8ecd2b8577b03f0ed75/5827c5d4f5e2316b415ccfd4/5827c5eaf5e2316b415cd087/1479001625502/U+BAHN+DOORS.gif?format=1000w" alt="Best Home Page EVER!">
    <br>
    <br>
    <br>
    <br>
    <div class="redirect">
      {{!--
      <form action="/locate" method='GET'>
        <input type="number" name="lat" class="lat" step="any">
        <input type="number" name="lng" class="lng" step="any"> --}}
        <button class="random" type="submit">Haben Sie einen schönen Tag</button>
        {{!-- </form> --}}
    </div>
   
    <br> {{#if error}}
    <p> {{error}}</p>
    {{/if}}
    <div class="results">
    </div>
  </div>
</div>
