<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav class="navbar navbar-light bg-light">
  {{!-- <span class=".navbar-brand"></span> --}}
   
   
      <a href="/"><button>Home</button></a>
      <a href="/priv/private"><button>Events</button></a>
      <a href="/sign-in"><button class = "btn-farlft">Sign in</button></a>
      <a href="/sign-up"><button  class = "btn-farlft">Sign up</button></a>
      <a href="/sign-out"><button class = "btn-lft">Sign Out</button></a>
      <a href="/profile" ><button class = "btn-mid">AdminControls</button></a>
      <a href="/about"><button class ="btn-rgt">About</button></a>
      <a href="https://github.com/tlebon/ein-tag-in-berlin"><img src="/images/githubicon.png" alt="github"></a>
  </nav>



  {{{body}}}

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src='/javascripts/script.js'></script>

</body>

</html>