
  <!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar">
<a href="/"><button>Home</button></a>
    <a href="/sign-in"><button>Sign in</button></a>
    <a href="/sign-up"><button>Sign up</button></a>
<a href="/sign-out"><button>Sign Out</button></a>
<a href="/profile" class="btn-mid"><button>Profile</button></a>
    </div>

    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
