<div class="container">
  <div class="card">
    <div id="map" class="hidden"></div>
    <div class="restaurants">
      {{> restPartial}}
    </div>
    <div class="bars hidden">
      {{> barPartial}}
    </div>
    <div class="events hidden">
      {{> eventPartial}}
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl4-KohgjS2KFG7FZNT21QZZiDeUkioMc"></script>