<div class="container">

    <div class="card">
        <h1>Sign In</h1>

        <form action="/sign-in" method='POST'>
            <label for="username">Username</label><input type="text" name='username' required='true'>
            <br>
            <label for="password">Password</label><input type="password" name='password' required='true'>
            <br>
            <br>
            <button type='submit'>Sign into your user account</button>

            <br>
            <br> {{#if error}}
            <p>ERROR: {{error}}</p>
            {{/if}}
        </form>
 </div>
</div>