@import url("https://fonts.googleapis.com/css?family=Montserrat");

$color1: rgba(15, 10, 10, 1);
$color2: rgba(245, 239, 237, 1);
$color3: rgba(34, 146, 164, 1);
$color4: rgba(189, 191, 9, 1);
$color5: rgba(217, 108, 6, 1);
$color6: #bb8ba9;
$color7: #fff06a;
$colorcard: #fff;
$colorcards: wheat;
$colorcardtitle: black;
$navbackground: rgba(255, 255, 255, 0);
* {
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box;
}
h3 {
  margin: 3px;
}
h6,
h7 {
  margin: 2px;
}
img {
  border-radius: 10px;
  margin: 0 auto;
  display:block;

}
.ourcardimg {
  max-height: 150px;
  max-width: 200px;
}
body {

  width: 90%;

  margin: 0 auto;
  font: 16px "Montserrat", Helvetica, Arial, sans-serif;
//   background: linear-gradient(265.11deg, $color6 -22.58%, $color7 215.45%);
background: linear-gradient(110deg, #fc9d28 0%,#f28282 28%,#2989d8 66%,#1c418c 100%);
  min-height: 100vh;
  
}

.container {
  // padding: 25px calc((100% - 960px) / 2);
  padding: 25px auto;
  margin: 5px 20px;
}

#mode {
    border-radius: 15px;
}
.card {
    padding: 10px ;
    margin: 0 auto;
    background: #f2f2f2;
  background-color: $colorcard;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.cards {
  padding: 10px;
  margin: 0 10px;
  background-color: $colorcards;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.card-title {
  border-bottom: 1px solid $colorcardtitle;
  // font:helvetica;
}

a {
  color: RGB(49, 186, 141);
  text-decoration: none;
  transition: 200ms all ease-in-out;

  &::visited {
    color: RGB(49, 186, 141);
  }

  &:hover {
    color: RGBA(49, 186, 141, 0.7);
  }
}

button {
  outline: none;
  background-color: RGB(49, 186, 141);
  color: #fff;
  border-radius: 15px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  min-width: 70px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  transition: 200ms all ease-in-out;
  transform-origin: 50% 50%;
  margin: 5px 0;
//   margin: 0 auto;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
  }
}
.random{
  min-width: 100px;
//   border-radius: px;
  padding: 10px 5px;
  display:block;
}

.list-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: inline-block;
  width: 150px;
}
.navbar {
  width: auto;

  background: linear-gradient(265.11deg, $color6 -22.58%, $color7 215.45%);
  background: linear-gradient(to right, #0dad82 12%,#e59f12 52%,#8b12e8 90%);

  padding: 5px 0 5px 3px;
    border: black 1px solid;
}

h1 h2 h3{
    text-align: center;
// vertical-align: middle;
    // display:block;

}

.box2 {
  float:left;
}

input,
textarea {
  margin-top: 25px;
  width: 200px;
  border: 1px solid rgb(180, 180, 180);
  padding: 5px 10px;
}

.go-btn {
  margin-top: 50px;
}

.btn-delete {
  background-color: red;
  margin:0 auto;
  display:block;
}

.btn-mid{
    background-color:#91A33B
}


.btn-rgt{
    background-color:#BDA126
}
.btn-lft{
    background-color:#67A653 
}
.btn-farlft{
    background-color:#48A864
}


.row {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}
#map {
  height: 500px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 5px;
}
.min {
  visibility: hidden;
  size: 1 px;
}

#floating-panel {
  position: absolute;
  top: 40px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
  border-radius: 15px;
}

.event-cards{
background-color:$color2
}
.bar-cards{
    background-color:$color3
}

.rest-cards{
    background-color:$color1
}